//@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lobster&subset=cyrillic');

@font-face {
    font-family: 'Century Gothic';
    src: font-url('CenturyGothic-Italic.eot');
    src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
    font-url('CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
    font-url('CenturyGothic-Italic.woff') format('woff'),
    font-url('CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: font-url('CenturyGothic.eot');
    src: local('Century Gothic'), local('CenturyGothic'),
    font-url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
    font-url('CenturyGothic.woff') format('woff'),
    font-url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: font-url('CenturyGothic-Bold.eot');
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
    font-url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('CenturyGothic-Bold.woff') format('woff'),
    font-url('CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: font-url('CenturyGothic-BoldItalic.eot');
    src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
    font-url('CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
    font-url('CenturyGothic-BoldItalic.woff') format('woff'),
    font-url('CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

//font-family: 'Roboto', sans-serif;
$font-family-sans-serif: "Century Gothic", "CenturyGothic", "AppleGothic", "Arial", "Helvetica", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", "Times", serif;
$font-family-monospace: "Menlo", "Monaco", "Consolas", "Courier New", monospace;

$fontFamilyOne: $font-family-sans-serif; //titles
$fontFamilyTwo: $font-family-sans-serif; //body
